h1 {
  background-color: blue;
  color: white;
  height: 50px;
  text-align: center;
}
h2 {
  background-color: aqua;
  
}
body {
  margin: 20px 10px;
}
.time {
  background-color: pink;
 margin: 1px;
  line-height: 1.2; /* 行間を1.2倍に設定 */
  max-width: 300px; /* 行の最大幅を200pxに設定 */
}